N8N_ENCRYPTION_KEY=
N8N_AUTH_TRUSTED_PROXY_SECRET=
WEBHOOK_URL=
DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE=railway
DB_POSTGRESDB_SCHEMA=n8n
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=
QUEUE_BULL_REDIS_HOST=
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_PASSWORD=
QUEUE_BULL_REDIS_DB=0
