CREDS_KEY=
CREDS_IV=
JWT_SECRET=
JWT_REFRESH_SECRET=
DOMAIN_CLIENT=
DOMAIN_SERVER=
CUSTOM_API_KEY=
OPENID_CLIENT_ID=
OPENID_CLIENT_SECRET=
OPENID_ISSUER=
OPENID_SCOPE=openid email profile
OPENID_BUTTON_LABEL=Sign in with Agentyx
