N8N_ENCRYPTION_KEY=
N8N_AUTH_TRUSTED_PROXY_SECRET=
WEBHOOK_URL=https://levinnovation.n8n.agentyx.one
QUEUE_BULL_REDIS_HOST=redis.railway.internal
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_PASSWORD=
QUEUE_BULL_REDIS_DB=0
