NEXTAUTH_URL=
NEXTAUTH_SECRET=
SALT=
LANGFUSE_INIT_ORG_ID=
LANGFUSE_INIT_ORG_NAME=
LANGFUSE_INIT_PROJECT_ID=
LANGFUSE_INIT_PROJECT_NAME=
LANGFUSE_INIT_USER_EMAIL=
LANGFUSE_INIT_USER_NAME=
LANGFUSE_INIT_USER_PASSWORD=
AUTH_CUSTOM_NAME=Agentyx
AUTH_CUSTOM_CLIENT_ID=
AUTH_CUSTOM_CLIENT_SECRET=
AUTH_CUSTOM_ISSUER=
AUTH_CUSTOM_SCOPE=openid email profile
